{% extends "base.html" %}

{% block conteudo %}
<div class="container">
    <h1>ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧ Lista de Pedidos</h1>
    {% if existe_pedidos %}
    <table>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                   <td>{{loop.index}}</td> 
                   <td>Mesa: {{pedido.mesa}}</td>
                   <td>Pedido: {{pedido.prato|title}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {{hoje|datetime_format("%B %Y")}}
</div>

<div class="container">
    <h1>✓ Finalizar Pedido</h1>
    <p>Digite o número do pedido para movê-lo para o balcão:</p>
    
    <form action="/finalizar-pedido" method="POST">
        <label for="numero_pedido">Número do Pedido:</label>
        <input type="number" id="numero_pedido" name="numero_pedido" min="1" placeholder="Ex: 1" required>
        <button type="submit">Finalizar :></button>
    </form>
</div>

{% endblock %}
