<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
</head>
<body>

    <h1 style="text-align: center; font-size: 15px;">Página para você saber qm sou</h1>
    <p style="text-align: center; font-size: 10px;">Olá! Meu nome é {{ nome }}.</p>

    <div style="text-align: center; font-size: 5px;">
        <a href="/">Voltar para a página inicial</a>    
    </div>

    <style>
        body {
            background-color: rgb(234, 235, 192);
        }
    </style>
</body>
</html>